
h1{
  
    font-size: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    text-shadow: 1px;
    color: black;
    position: relative;
    z-index: 999;
}

img{
    width: 20%;
position: ;
top: 20px;
left: 50%;
transform: translateX(-50%);
opacity: 0.5;
}

h2{
    font-size: 40px;
    font-family:sans-serif;
    text-align: center;
    text-shadow: 1px 0 2px;
    
}

body {
    min-height: 100vh;
    margin: 0%;
background: #2b2b2b;
background: #2b2b2b;
background: linear-gradient(0deg, rgb(62, 61, 61) 27%, rgba(130, 130, 130, 1) 59%, rgba(255, 255, 255, 1) 97%);

background-repeat: no-repeat;
background-size: cover;

}



