@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');


body {
    font-family: "Croissant One", serif;
    min-height: 100vh;
    margin: 0%;
background: #2b2b2b;
background: #2b2b2b;
background: linear-gradient(0deg, rgb(62, 61, 61) 27%, rgba(130, 130, 130, 1) 59%, rgba(255, 255, 255, 1) 97%);

background-repeat: no-repeat;
background-size: cover;

}
.cabecalho{
margin-bottom: 50px;

}
h1{
  
    font-size: 117px;
 
    text-align: center;
    text-shadow: 1px;
    background: -webkit-linear-gradient(#00f8fc, #ff0073);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
   
 
}

img{
 
    width: 30%;
position: absolute;
top: 135px;
left: 49%;
transform: translateX(-50%);
opacity: 0.8;
}

.cabecalho h2{
    font-size: 60px;
 
    text-align: center;
    text-shadow: 1px 0 2px;
    
}
main{
    background-color: #2b2b2b;
    color: white;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;

}
article{
    display: flex;
}
.texto-post{
    margin-left: 40px;
}



